<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
    <!-- 计算属性 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br/>
        名：<input type="text" v-model="lastName"><br/>
        姓名：<span>{{fullName}}</span>  <br/>
        <!-- 用get缓存的值，methods没有 -->
        姓名：<span>{{fullName}}</span> <br/>
        姓名：<span>{{fullName}}</span> <br/>
        姓名：<span>{{fullName}}</span> 
    </div>    
    <script type="text/javascript">

        const vm = new Vue({
            el:'#root',
            data:{
                firstName:'li',
                lastName:'ming',
            },
            computed:{
                fullName: {
                    // get作用：当有人读取fullName时，get就会被调用且返回值就作为fullName的值
                    get(){
                        console.log('get');
                        return this.firstName + '-' + this.lastName
                    },
                    set(value){
                        console.log('set',value);
                        const arr = value.split('-');
                        this.firstName = arr[0];
                        this.lastName = arr[1]
                    }
                }
            }
        });
    </script>
</body>
</html>